dist: trusty
os: linux
language: c
compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libudev-dev

script:
  - ./autogen.sh
  - ./configure
  - make
  - make check
